::-webkit-scrollbar{
    display: none;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-family:comic sans ms;
}
.mainsec{
    margin-top: 10%;
    width: 100%;
}
.sec{
    border:2px solid black;
    height:fit-content;
    width:350px;
    background-color: rgb(204, 198, 198);
}
.sec p{
    padding: 5px 5px 5px 5px;
}
.sec h3{
    margin-top: 0px;
    float: right;
    padding:10px;
    border-left:2px solid black;
    border-bottom:2px solid black;
}
#sec1 h3{
    background-color: pink;
}
#sec2 h3{
    background-color: purple;
    color:wheat
}
#sec3 h3{
    background-color: red;
}
@media(min-width:992px){
    .mainsec{
        padding: 15px 15px 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sec{
        width: 30%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .mainsec{
        padding:15px 15px 15px 15px;
    }
    .sec{
        margin-bottom:25px;
        float: left;
    }
    #sec1,#sec2{
        width: 45%;
        margin-left: 3.5vw;
    }
    #sec3{
        width:94%;
        margin-left: 3.5vw;
    }
}
@media(max-width:767px){
    .mainsec{
        padding:20px 20px 20px 20px;
    }
    .sec{
        float: left;
        width: 100%;
        margin-bottom:25px;
    }
}
    
